* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

.register-wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
}

.register-left {
  flex: 1.2;
  overflow: hidden;
}

.register-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
p .register-link {
    color: #323232;
}

.register-right {
  flex: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f4f6;
  padding: 40px;
}

.register-card {
  width: 100%;
  max-width: 400px;
  background: white;
  padding: 35px;
  border-radius: 16px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.register-card h2 {
  margin-bottom: 20px;
  color: #111827;
}

.register-card input,
.register-card select {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
  background: #ffffff;
  color: #111827;
  font-size: 14px;
  text-align: left;
}

.register-card input:focus,
.register-card select:focus {
  border-color: #2563eb;
  outline: none;
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.2);
}

.register-card button {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #2563eb;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.register-card button:hover {
  background: #1d4ed8;
}

.login-link {
  margin-top: 15px;
  font-size: 14px;
    color: #323232;
}

.login-link span {
  color: #2563eb;
  cursor: pointer;
  font-weight: 600;
}

@media (max-width: 768px) {
  .register-wrapper {
    flex-direction: column;
    height: auto;
  }

  .register-left {
    display: none;
  }

  .register-right {
    flex: 1;
    padding: 20px;
  }
}
